*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   overflow-x: hidden;
}
header{
 width: 100%;
 /* display: flex;
 justify-content: space-evenly;
 align-items: center; */
 gap: 10px;

}
.logo svg{
    width: 200px;
    height: 100px;
    padding: 10px;
}


.toggle-button{
    position: absolute;
    top: 2.8rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: black;
}
header .navbar{
    display: flex;
    align-items: center;
    justify-content:  space-evenly;
    gap: 10px;
}
.navbar ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 1.2em;
    margin-top: 20px;
}
.navbar ul li{
    position: relative;
}
.navbar ul li .menu{
    text-decoration: none;
     font-size: 18px;
    font-weight: 500;
    line-height: 1.8rem; 
   color: black;
   border: none ;
    padding-bottom: 90px;
}
.navbar .btn1{
    border: none;
    cursor: pointer;
   background-color: #eee;
    border-radius: 1rem;
    color: #000;
    padding: 15px 14px;
    transition: all 0.3s ease;
}
.btn1 a{
    text-decoration: none;
    color: #1d1d1d;
    font-size: 15px;
    text-align: center;
    /* border: 2px solid red; */
    padding: 10px 50px 20px 50px;
}
.navbar .btn1:hover{
    background-color:#0a0e27;
    color: white;
}
.btn1 a:hover{
    color:white  ;
}
/* 
dropdown */
.drop-down{
    position: relative;
}
.drop-down .drop-menu{
    position: absolute;
    display: none;
    top: 15px;
    left: -390px;
    z-index: 10099;
}
.dropbox{
    display: flex;
    justify-content: space-between;
    width: 900px;
    background-color:white;
    border-radius: 20px;
    gap: 10px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, .1);
    /* padding: 10px 20px; */
}
.drop-box1{
    width: 600px;
    background-color: #f8fafd;
}
.drop-box1  ul{
    display: block;
}
.box1{
    text-decoration: none;
}
.drop-box1 ul{
    display: block;
    padding-left: 5px;

}
.drop-box1 ul li{
    padding: 10px;
}
.drop-box1 ul li:hover{
    background-color: whitesmoke;
    border-radius: 10px;
}
.box1{
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    transition: all 0.3s ease-in;
}
.pays{
    color: #0a0e27;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    transition: all 0.3s ease-in-out
}
.pays:hover{
    color: #00abab;
}
.drop-down:hover .drop-menu{
    display: block;
}







.dropdown-1{
    position: relative;
}
.dropdown-1 .dropmenu-1{
position: absolute;
display: none;
/* width: 600px; */
top: 10px;
left: -90px;
z-index: 999;
/* box-shadow: 0px 10px 40px rgba(0, 0, 0, .1); */
border-radius: 30px;
}
.container-box{
    display: flex;
    justify-content: space-between;
    background-color:rgba(58, 38, 38, 0.21);
    width: 600px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, .1);
border-radius: 10px;
}
.first-box{
    background-color: #f8fafd;
    width: 600px;
    /* padding-left: 20px;
    padding-right: 30px; */
    /* width: 800px; */
}
.first-box ul{
    display: block;
    padding-left: 10px;

}
.first-box ul li{
    padding: 10px;
}
.first-box ul li:hover{
    background-color: whitesmoke;
    border-radius: 10px;
}
.pay{
    color: #0a0e27;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}
.pay-items .pay-items2{
    display: block;
    padding-right: 20px;
}
.pay-items{
    padding-top: 10px;

    width: 800px;
    background-color: whitesmoke;
   /* padding-right: 100px; */
}
.payy{
    text-decoration: none;
    color: #0a0e27;
    font-size: 22px;
    font-weight: 500;
    transition: all 0.3s ease-in;
}
.payy:hover{
    color: #00abab;
}
.dropdown-1:hover .dropmenu-1{
    display: block;
}










/* personal */

.dropdown-2{
    position: relative;
    
}
.dropdown-2 .dropmenu-2{
    position: absolute;
    top: 10px;
    display: none;
    background-color:white;
    padding:1rem 2rem;
    left: 20px;
    z-index:999;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, .1);
    width: 400px;
    border-radius: 10px;
}

.sonal{
text-decoration: none;
color: #000;
font-size: 20px;
font-weight: 500;
}
.sonal:hover{
    color: #00abab;
}
.drop-paragraph{
color: #262c55;
font-size: 15px;
    line-height: 1.5;
}
.dropdown-2:hover .dropmenu-2{
    display: block;
}





/* Resource dropdown */
.resource{
    text-decoration:none;
    color: black;
    font-size: 20px;
    font-weight: 600;
}
.dropdown-3{
    position: relative;
}
.dropdown-3 .dropmenu-3{
    position: absolute;
    border-radius: 10px;
    background-color:white;
  top: 10px;
  padding: 1rem;
  left: -10px;
  z-index: 20;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, .1);
display: none;
width: 170px;
}
.dropdown-3 .dropmenu-3 li{
    padding-top: 10px;
    padding-bottom: 10px;
}
.dropdown-3 .dropmenu-3 li .resource:hover{
    color: #00abab;
    /* font-size: 16px;
    font-weight: 500; */
}
.dropdown-3:hover .dropmenu-3{
    display: block;
}

/* Developer dropown */
.developer{
    text-decoration:none;
    color: black;
    font-size: 18px;
    font-weight: 600;
}
.dropdown-4{
    position: relative;
}
.dropdown-4 .dropmenu-4{
    position: absolute;
    display: none;
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    width: 200px;
    top: 7px;
    left: -10px;
  z-index: 20;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, .1);
}
.dropdown-4 .dropmenu-4 li{
    padding-top: 20px;
    padding-bottom: 10px;
}
.dropdown-4 .dropmenu-4 li .developer:hover{
    color: #00abab;
}

.dropdown-4:hover .dropmenu-4{
    display: block;
}

/* comapny dropdown */
.company{
    text-decoration:none;
    color: black;
    font-size: 18px;
    font-weight: 600;
}
.dropdown-5{
    position: relative;
}
.dropdown-5 .dropmenu-5{
    position: absolute;
    display: none;
    background-color: white;
    box-shadow:0px 10px 40px rgba(0, 0, 0, .1) ;
    padding: 1rem;
    top: 10px;
    border-radius: 10px;
    z-index: 20;
    width: 140px;
}
.dropdown-5 .dropmenu-5 li{
    padding-top: 10px;
    padding-bottom: 10px;
}
.dropdown-5:hover .dropmenu-5{
    display: block;
}
.dropdown-5 .dropmenu-5 li .company:hover{
    color: #00abab;
}
















.first-text{
margin-left: 100px;
margin-top: 30px;
z-index: 10;
}
.first-heading{
    font-size: 93px;
    line-height: 6.2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serifsss;
    font-weight: 700;
    max-width: 60rem;
    z-index: 10;
}
.first-paragraph{
    font-size: 20px;
    line-height: 2.3rem;
    font-weight: 400;
    letter-spacing: 0.00125rem;
    z-index: 10;
}
.first-btn{
    display: flex;
    gap: 2rem;
}
.boxes1{
    border: none;
    cursor: pointer;
   background-color: #262c55;
    border-radius: 10px;
    color: white;
    padding: 15px 40px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    font-family: Moderat sans-serif;
    line-height: 1.4;
    letter-spacing:0.0022rem;
}
.boxes2{
    border: none;
    cursor: pointer;
   background-color: #897a7a5e;
    border-radius: 10px;
    color: black;
    padding: 15px 26px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    font-family: Moderat sans-serif;
    line-height: 1.4;
    letter-spacing:0.0022rem;
}



.imgg{
    display: flex;
    gap: 6rem;
    margin-top: 100px;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}
.img1{
    width: 100%;
    background-image: url("./images/woman1.webp");
    width:721px;
    height: 750px;
    background-size: cover;         
    /* background-repeat: no-repeat; */
    background-position: 30% 50%;   
}
.img2{
    background-image: url("./images/woman2.webp");
    width:500px;
    height: 650px;
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: center;

}
.right-img{
    margin-top: -60px;
    display: flex;
    flex-direction: column;
    /* position: relative;
    top: -140px;     */
}
.text{
    margin-top: 20px;
    line-height: 32px;
    font-size: 20px;
    font-weight: 300;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serifsss;
}







.trusted{
    padding: 10px;
}
.trusted h3{
    font-size: 28px;
     color: #262c55;
     font-family: sans-serif;
     font-weight: 600;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 10px;
    align-items: center;
}


/* home-2 */
.home-2{
    margin-top: 200px;
    
}
.home-2-text{
    font-size: 80px;
    line-height: 6rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serifsss;
    font-weight: 800;
    margin-left: 89px;
}

.online-checkout-accept{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
    width: auto;
    flex-wrap: flex;
    /* padding: 0px 100px 0px 50px; */
    margin-top: 200px;

}
.our{
    font-size: 20px;
    line-height: 2.3rem;
    font-weight: 400;
    font-family: unset;
   max-width:19rem;
    letter-spacing: 0.00125rem;
}
.get{
   padding: 15px 25px;
   border: none;
   background-color:#1d1d1d;
   border-radius: 15px;
   color: white;
   font-size: 20px;
   font-weight: 500;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serifsss;
    line-height: 1.2;
    letter-spacing:0.0022rem;
    margin-top: 20px;
}
.online2 img{
    box-shadow: 0 0  15px rgba(245, 230, 230, 0.582);
   margin-top: -90px;
}
.learn{
    align-items: center;
    display: inline-flex;
    text-decoration: none;
    color: #fb4e20;
    font-size: 17px;
    line-height: 1.2;
    letter-spacing:0.0022rem;
    font-weight: 600;
    transition: all 1000ms ease-in-out;
    position: relative;
}
.learn::before{
    content: '>';
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 93px;

}


.learn:hover::before{
    transform: translateX(15px);
}


.home-3{
   width: 100%;
    padding: 60px 30px;
    overflow-x: hidden;
}
.home-3-text{
    margin-left: 60px;
    font-size: 93px;
    line-height: 6.6rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serifsss;
    font-weight: 700;
    max-width: 60rem;
}


/* store  section*/
.store{
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
    margin-right: 20px;
    overflow-x: hidden;
}
.store1{
    padding: 0px 30px 2px 30px;
    white-space: normal;
}
.create{
    font-size: 20px;
    line-height: 2.3rem;
    font-weight: 400;
    font-family: unset;
    width: auto;
    letter-spacing: 0.00129rem;
    margin-top: 20px;
}
.store-img{
    background-image: url("./images/yanga-beauty.webp");
    width:600px;
    height: 660px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.invoices{
    display: flex;
    justify-content: space-evenly;
    margin: 0px 35px;

}
.invoice-img img{
    width:100vh;
    height: 660px;
    top: -30px;
    position: relative;
    z-index: 5;
}
.store-6{
    display: block;
    margin-top: 100px;
    margin-left: 80px;
}

.generate{
    font-size: 20px;
    line-height: 2.3rem;
    font-weight: 400;
    font-family: unset;
    width: auto;
    letter-spacing: 0.00129rem;
    margin-top: 20px;
}


.platform{
    color: #262c55;
    font-size: 20px;
    line-height: 2.3rem;
    font-weight: 400;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serifsss;
    width: auto;
    letter-spacing: 0.00129rem;
    margin-inline: auto;
}





.play{
   margin-top: 60px;
   margin-left: 100px;
   width: 80%;
}
.lets{
    font-size: 4.3em;
    font-weight: 300;
    line-height: 5.3rem;
    margin-bottom: 4.8rem;
    color: #1d1d1d;
    font-family: Milik sans-serif;
    letter-spacing: 0.029rem; 
}
.okay{
    padding: 25px 29px;
    border: none;
    background-color:#1d1d1d;
    border-radius: 15px;
    color: white;
    font-size: 23px;
    font-weight: 500;
     text-align: center;
     font-family: Moderant sans-serif;
     line-height: 1.2;
     letter-spacing:0.0029rem;
     margin-bottom: 37px;
}


.black{
    background-color:black;
    width: 100%;
    margin-top: 0px;
    padding: 10px 20px 120px 10px;
    
}
.every-text{
   margin-top: 180px;
   padding: 10px 20px;  
}
.every-text1{
    text-align: center;
    color: white;
    font-size: 80px;
    font-weight: 800;
    line-height: 5.6rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serifsss;
    letter-spacing: 0.029rem; 

}
.Flutterwave{
text-align: center;
font-family:  sans-serif;
color: white;
font-size: 23px;
margin-top: 50px;
font-weight: 300;
line-height: 2.4rem;
}
.card-container{
    display: flex;
    position: relative;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    
}
.card-title{ 
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.8rem;
    margin-top: 50px;
}
.card-description{
    text-align: center;
    color: white;
    font-size: 17px;
    line-height: 30px;
    margin-top: 10px;
    max-width: 30rem;
    margin-bottom: 50px;
    letter-spacing:0.0125rem ;

}
.card{
    overflow: hidden;
    position: absolute;
    background-color: #313131;
    border-radius: 1.6rem;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.8);
    flex: 0 1 auto;
    z-index: 3; 
    padding: 20px 20px 20px 40px;
    transform: translateX(calc(var(--translate-x)));
    transition: transform .8s cubic-bezier(0.16, 1, 0.3, 1);
}
.card:hover ~ .card:nth-child(2){
    transform: translateX(80px);
}
.card:nth-child(1) {
    transform: translateX(20%);
    z-index: 2;

}
.card:nth-child(1):hover{
    transform: translateX(90px);
}
.card:nth-child(2):hover ~ .card:nth-child(3){
    transform: translateX(1px);
}
 .card:nth-child(3){
    transform: translateX(-25%);
 }
.card:hover .card{
    overflow: hidden;
}


.document{
   background-color:#0000000f;
   padding: 90px 30px;
}
.documents{
    margin-left: 90px;
    margin-top: 70px;
}
.document-text{
    color: #1d1d1d;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serifsss;
    font-size: 75px;
    font-weight: 700;
    letter-spacing: 0.00125rem;
    line-height: 4rem;
    max-width: 50rem;
}
.document-subtext{
    font-size:25px;
    font-weight: 500;
    line-height:2rem;
    color: #1d1d1d;
    margin-top: 40px;
    font-family:sans-serif;
    letter-spacing: 0.029rem; 
}
.document-list{
    margin-top: 30px;
}
.main{
    list-style: none;
    margin-bottom: 60px;
}
.main li{
    font-size: 20px;
    font-weight: 400;
    line-height: 2.6rem;
    padding-left: 3.0rem;
    position: relative;
    color:#1d1d1d;
    font-family: sans-serif;
}
ul.main li::before {
    background-color: #262c55;
    border-radius: 100%;
    content: "";
    height: 18px;
    left: 0;
    position: absolute;
    top: .9rem;
    width:30px;
}

.doc-button{
    text-align: center;
    padding: 26px 29px;
    border: none;
    background-color:#0a0e27;;
    border-radius: 15px;
    color: white;
    font-size: 23px;
    font-weight: 500;
     text-align: center;
     font-family:sans-serif;
     line-height: 1.2;
     letter-spacing:0.0029rem;
     cursor: pointer;
}



/* global */
.global{
    margin-left: 5%;
}
.global-text{
    color: #1d1d1d;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serifsss;
    font-size: 90px;
    font-weight: 900;
    letter-spacing: 0.00125rem;
    line-height: 7rem;
    margin-top: 200px;

}
.grid-global{
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    margin-top: 100px;
}
.stats{
    position: relative;
}
.stat::before{
    background-image: url("./images/dots.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    content: "";
    height: 90%;
    position: absolute;
    top: 2.7rem;
    width: .1rem;
}
.stat__heading{
    padding: 0px 30px;
    color: #1d1d1d;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 3.2rem;
    position: relative;
}
.stat__heading::before{
    border: 1px solid #000;
    content: "";
    height: 2.5rem;
    left: -.1rem;
    position: absolute;
    top:.8rem;    
    width: .2rem;
}
.link{
    color: #00abab;
    text-decoration: none;
}
.stat__info{
    padding: 0px 30px;
    font-size: 17px;
    font-weight: 400;
    color: #1d1d1d;
    line-height: 1.4;
}
.stat{
    padding-top: 30px;
}





.stat-list-grid{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
    list-style: none;
gap: 15px;
column-gap: 70px;
padding-left: 50px;
}
.stat-list-grid li{
    font-size: 17px;
    font-weight: 400;
}
.grid__section {
    flex: 0 1 auto;
    width: 50%;
    overflow: hidden;
}
.globe {
    --globe-size: 700px;
    position: relative;
    width: 700px;
    height: 700px;
    background-color: #262c55;
    /* margin-top: -6rem; */
    border-radius: 100%;
}
 .globe__container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 100%;
    clip-path: inset(0%);
}
.globe__map img{
    height: calc(700px + 120px);
    object-position: top center;
    transform-origin: top left;
    pointer-events: none;
    opacity: .6;
    border-radius: 100%;
}
.globe svg{
    position: absolute;
    top: 0%;
    left: -2%;
    width: 700px;
    height:700px;
    transform: scale(1.58);
    overflow: hidden;
}
.globe svg path{
    opacity: .8;
    stroke-width: 1.3;
}
.globe svg path:nth-child(1){
    stroke-dasharray: 1510;
    stroke-dashoffset: 1510;
    stroke: #00abab;
    animation: draw-arc-1510 3.5s ease-in-out .5s infinite;
}
.globe svg path:nth-child(2) {
    stroke: #fb9129;
    stroke-dasharray: 1400;
    stroke-dashoffset: 1400;
    animation: draw-arc-1400 4s ease-in-out 3s infinite;
}
 .globe svg path:nth-child(3) {
    stroke: #6672c7;
    stroke-dasharray: 1555;
    stroke-dashoffset: 1555;
    animation: draw-arc-1555 5s ease-in-out 2s infinite;
}
 .globe svg path:nth-child(4) {
    stroke: #eb7da7;
    stroke-dasharray: 1380;
    stroke-dashoffset: 1380;
    animation: draw-arc-1380 4.2s ease-in-out .6s infinite;
}
@keyframes draw-arc-1510{
    35%{
        stroke-dashoffset: 0;
    }
    70%{
        stroke-dashoffset: calc(1510*2);
    }
    100%{
        stroke-dashoffset: 1510;
    }
}
@keyframes draw-arc-1400{
    35%{
        stroke-dashoffset: 0;
    }
    70%{
        stroke-dashoffset: calc(1400* 2);
    }
    100%{
        stroke-dashoffset: 1400;
    }
}
@keyframes draw-arc-1555{
    35%{
        stroke-dashoffset: 0;
    }
    70%{
        stroke-dashoffset: calc(1555* 2);
    }
    100%{
        stroke-dashoffset: 1555;
    }
}
@keyframes draw-arc-1380{
    35%{
        stroke-dashoffset: 0;
    }
    70%{
        stroke-dashoffset: calc(1380* 2);
    }
    100%{
        stroke-dashoffset: 1380;
    }
}
.globe__map.animation{
    animation-duration: 12s;
    animation: move-map 12s linear infinite;
    animation-play-state: running;
}
.globe__map{
    width: 100%;
    height: 100%;
    will-change: transform;
    display: flex;
    flex-direction: row;
}
.globe__blinking-dot:nth-child(1) {
    --size: 11px;
}
.globe__blinking-dot {
    position: absolute;
    --size: 9px;
    width: var(--size);
    height: var(--size);
    --anim-delay: 0.2s;
    border-radius: 30px;
    background: #eb7da7;
    top: 48%;
    left: 125%;
    transform: scale(0);
    animation: blink 1.3s ease-in-out var(--anim-delay) infinite;
    opacity: .7;
}
@keyframes move-map{
    100%{
        transform: translateX(calc(var(--translate-value)* -1%));
    }
}




















/* product */
.product{
  padding: 20px 20px;
  width: 100%;
  margin-top: 100px;
}
.product-box{
    margin: 0 auto;
    width: 80%;
    margin-inline: auto;
    background-color: #1d1d1d;
    border-radius: 2rem;
    box-shadow: 0px 25px 50px rgba(29, 29, 29, .5);
    color: #fff;
    padding: 10px;
}
.product-text{
   padding: 40px 30px;
}
.product-heading{
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serifsss;
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 0.00125rem;
    line-height: 2rem;
    max-width: 50rem;
}
.product-infos{
    font-size:20px;
    font-weight: 500;
    line-height:2rem;
    color: white;
    margin-top: 40px;
    font-family:sans-serif;
    letter-spacing: 0.029rem; 
}
.product-button{
    display: flex;
   gap: 2rem;
   margin-top: 50px;
   position: relative;
   width: 100%;
}
.product-btn1{
    color: black;
    background-color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 19px 20px;
    border-radius: 15px;
    border: none;
    text-align: center;
    transition: 0.3s ease-in-out;
}
.product-btn2{
    color: white;
    background-color: transparent;
    font-size: 15px;
    padding: 20px 27px;
    border-radius: 15px;
    border: none;
    text-align: center;
}
.test{
    position: relative;
    text-decoration: none;
    font-size: 20px;
    color: white;
    top: 22px;
}
.test::before{
    content: '>';
    width: 10px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 125px;
    font-weight: 400;

}
.test:hover::before{
    transform: translateX(10px);
}





 .footer-section{
    color: #1d1d1d;
    padding: 10rem 2rem 0;
    width: 100%;
    margin-top:30px ;
}


.footer-group{
   display: flex;
   /* flex-wrap: wrap; */
   justify-content: space-between;
  margin-inline: auto;
  width: 90%;
  
}
.footer-body{
    /* align-items: flex-start; */
    display: block;
      /* gap: 10rem;  */
    /* flex-wrap: wrap;
    padding: 3rem 4rem;
     max-width: 70rem; */
}
.footer-nav{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    /* justify-content:space-between; */
    padding-bottom: 4rem;
   padding-left: 20px;
}
.footer-heading{
    padding-left: 20px;
    font-size: 20px;
    font-family: sans-serif;
    color: #0a0e27;
    line-height: 1;
}
.footer-navs{
 color: #262c55;
 font-size: 18px;
 font-weight: 400;
 text-decoration: none;
 padding-top: 20px;;
 font-family: sans-serif;
 transition: all 0.3s ease-in-out;
}
.footer-navs:hover{
    color: #00abab;
}


.footer-sec-2{
    padding: 10px 30px;
        display: flex;
        justify-content: space-between;
}
.ft-2{
    list-style: none;
    display: flex;
    gap: 1rem;
    padding-top: 10px;
    justify-content: space-between;
}
.ft-li{
    color: black;
    padding-right: 30px;
    font-size: 17px;
    color: black;
}
.footer-text{
    color: black;
    font-size: 20px;
    padding-top: 30px;
    margin-bottom: 30px;
}





.accordion-space{
    padding: 10px;
    display: none;
}

.acc{
    padding-top: 30px;
    /* font-size: 20px; */
}


.country{
    margin-top: -14.5rem;
    position: relative;
}

.country-side a{
    color: #1d1d1d;
    text-decoration: none;
    padding: 20px;
    font-size: 14px;
}

.country-side a:hover{
    color:#00abab;
}

.nations .i{
    text-align: center;
    align-items: center;
    width: 150px;
    margin: auto;
    display: flex;
    font-size: 12px;
    gap: 5px;
    padding: 10px 10px  10px 10px;
    /* background-color: red; */
     border-radius: 10px;
     cursor: pointer;
     transition: all 0.4s ease-in-out;
}
.nations .i img{
    width: 60px;
    cursor: pointer;
    /* border: 2px solid tan; */
    /* padding: 10px 15px; */
  
}
.nations .i:hover{
background-color:rgba(193, 176, 176, 0.256);
}

 .ops{
   width: 30px;
   height: 30px;
   border-radius: 50%;
   background-image: url("./images/ng.svg");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: 100%;
    
}
.na{
    cursor:pointer;
    margin-top: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.country:hover .hides{
    display: block;
}
.na p{
   text-align: center;
   margin-top: 20px;
    padding: 20px; 
    font-size: 18px;
}

.hides{
    display: none;
}
.nations{
    z-index: 999;
    position: absolute;
    top: -60%;
    left: 0;
    padding: 10px;
    background-color: white;
    border-radius: 15px;
    width: 50vw;
    box-shadow: 0px 0px 55px grey;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.nation-side{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    
}
#foot{
    margin-bottom: 2rem;
  }
  
  #foo{
      margin-top: -10px;
  }
  
  /* footer-last */
  
  .footer-last{
      width: 85%;
      margin: auto;
  }
  .footer-last a{
      text-decoration: none;
      padding: 0px 25px;
      color: #000000;
  }
  
  .footer-last a:hover{
     color: #00ABAB;
  }
  .footer-la{
      width: 81%;
      margin: auto;
  }
  .footer-la p{
     margin-top: 2rem;
  }
  
  
  